<div class="side-cart-footer p-3 border-top w-100">
  <%= link_to t("shop_all"), categories_path(locale: I18n.locale), class: "cart-button mb-2 w-100" %>
  <%= link_to t("home"), root_path(locale: I18n.locale), class: "cart-button mb-2 w-100" %>
</div>