<% if current_cart.cart_items.any? %>
  <% current_cart.cart_items.each do |item| %>
    <%= render partial: "cart_items/cart_item", locals: { item: item } %>
  <% end %>
<% else %>
  <p class="text-center text-muted py-5">Tu carrito está vacío.</p>
<% end %>
