<turbo-frame id="side_cart_content" class="side-cart-content p-3 flex-grow-1 overflow-auto">
  <p class="text-center text-muted py-5 empty-cart-placeholder">
    <%= t("empty_cart") %>
  </p>
</turbo-frame>
