/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
html,
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.c-scroll {
  position: relative;
  z-index: 1;
  background-color: white;
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
}

body[data-theme="dark"] .c-scroll {
  background-color: #121212;
}

body[data-theme="light"] body,
html {
  background-color: #0f0f0f;
}

main {
  flex: 1;
}

.ci {
  color: inherit;
}

.turbo-progress-bar {
  background-color: black;
  height: 3px;
}
